@media(max-width:500px){
    #step3 .contenido{
        margin-top: 20%;
    }
    #step3{
        background-position-y:100% ;
        height:auto;
    }
    #step3 h6{
        font-size: 2vw;
    }
    .top{
        
        background-position: center top;
        height: auto;
    }
    .top p{
        font-size: 13.5px;
    }
    .message7 .m1{
        font-size: 10px;
        margin-top: -70px;
    }
    .input7{
        font-size: 8px;
    }
    .mid7{
        height: 200px;
    }
    .navbar-brand{
        background-color: white;
        
         border-radius: 50% ;
         width: 130px;
         height: 100px;
         margin-left: 95%;
         margin-top: 10%;
         -webkit-box-shadow: -5px 97px 146px -67px rgba(0,0,0,0.75);
         -moz-box-shadow: -5px 97px 146px -67px rgba(0,0,0,0.75);
         box-shadow: -5px 97px 146px -67px rgba(0,0,0,0.75);
   
        }
    .navbar-brand img{
        margin-top: 5%;
        width: 100px;
        height: 70px;
    }
    }

@media (min-width: 576px) and (max-width: 767px) {  
    #step3{
        height: auto;
    }
    .message7 .m1{
        font-size: 20px;
    }

}

@media (min-width: 768px) and (max-width: 991px) {  

    #step3{
        height: auto;
    }
    .top{
        height: 550px;
    }

}

@media screen and (max-width:800px){
    .Navbar{
        width: 100%;
    }
    .menubar{
        display: block;
        position: relative;
       
        width: 100%;
  height: auto;
    }
    .menubar a{
        color: #FFBD24;
        font-size: 35px;
        margin-right: 20px;
        float: right;
        position: absolute;
        right: 0;
        top: 4px;
        text-decoration: none;
    }
    .menubar p{
        float: right;
        color: #FFBD24;
        margin-right: 22px;
        font-size: 10px;
      
    }
.profile{
    margin-top: 20px;
}
    .aside{
        width: 80%;
        position: fixed;
        left: -100%;
        margin: 0;
        transition: all ease .4s;
        border-right:1px solid grey;
        box-shadow: none;
        background-color: white;
        overflow:hidden; 
        z-index:10;

        
    }

    .MenuDashboard{
    
     

     
        width: 100%;
        transition: all ease .4s;
        border: none;
        box-shadow: none;
      
    }
    .pestanas{
        display: none;
    }
    

  .menu_bar{
    
     color: #FFBD24;
     font-size: 35px;
     margin-right: 20px;
     float: right;
     position: absolute;
     right: -6px;
     top: 4px;
     text-decoration: none;
     background: none;
     border: none;
     outline: none !important;
     border: none;
    
     
  }

  .open_menu{
      transition: all ease .4s;
      left: 0;
  }

  .menu-items li{
   
    list-style: none;
    text-align: left;
    padding: 18px 15px;
   margin-bottom: 10px;
   width: 90%;
   margin-left: 5%;
    border: none ;
    background-color: #F9F7F7;   
    color: #1A3F6B;
    font-size: 15px;
}
.servicios{
   
  z-index: 1;
}
.btn-rec img{
    width: 30px !important;
 
}


}
