/*@media(max-width:500px){
    #step3 .contenido{
        margin-top: 20%;
    }
    #step3{
        background-position-y:100% ;
        height:auto;
    }
    #step3 h6{
        font-size: 2vw;
    }
    
}