.top{
    background-image: url('../images/fondo2.jpg') ;
    background-repeat: no-repeat;
    width: 100%;
    height: 800px;
    background-size: 100%;
}

 .parrafo {
    width: 52%;
    margin-left: 24%;

}
.parrafo span{
    font-weight: bold;
}
.parrafo p{
    opacity: 0.8;

}
.mid img{
    width: 80px;
    height: 80px;

}
.mid h4
{
    text-align: left;
    width: 90%;
}
.mid p{
    text-align: left;
    width: 90%;
}

.mid .Row{
    margin-bottom: 100px;
}
.mid2{
    background-image: url('../images/fondo3.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    height: 600px;
}
 .contenido2{
    width: 40%;
    padding-top: 12%;
    margin-left: 10%;

}

 .tittle h3{
    text-align: left;
    color: #4285f4;
}
.message {
    width: 300px;
    text-align: left;
    margin-top: 30px;
    margin-bottom: 30px;

}
.contenido2 .boton button{
    float: left;
    border-radius: 7px;
    outline: none;
    border: none;
    background-color:#FFBD24 ;
    width: 150px;
    height: 50px;
    transition: all ease 0.4s;
}
.contenido2 .boton button:hover{
    transform: scale(1.1);
    transition: all ease 0.4s;
}

.contenido3{
    margin-top: 10%;
}
.mid3 img{
    margin-top: 80px;
    width: 80%;
    margin-bottom: 100px;

}

.mid3 .titulo3 h2{
    color:#FFBD24 ;
   text-align: left;
   margin-left: 50px;
   margin-bottom: 20px;
   font-size: 3vw;
}
.mid3 .subtitulo h4{
    color: white;
    text-align: left;
    margin-left: 50px;
    margin-bottom: 20px;
    font-size: 2vw;
}
.mid3 .message3 p{
    width: 70%;
    text-align: left;
    margin-left: 50px;
    margin-bottom: 20px;
    color: white;
    opacity: 0.8;

}
.mid3 button{
    float: left;
    border-radius: 7px;
    outline: none;
    border: none;
    background-color:#FFBD24 ;
    width: 150px;
    height: 50px;
    transition: all ease 0.4s;
    margin-left: 50px;
    margin-bottom: 100px;
}
.mid3 button:hover{
    transform: scale(1.1);
    transition: all ease 0.4s;
}

.mid4{
    width: 100%;
    height: auto;

}
.mid4 .titulo4
 {
     margin-top: 50px;
    color: #4285f4;
}
.mid4 .images4{
    width: 80%;
    margin-top: 80px;
   margin-left: 20%;
  /*  display: flex;
    justify-content: space-between;*/

}

.mid4 .images4 img{
    width: 150px;
    height: 150px;
}
.images4 p{

    margin-top: 10px;
    width: 90%;
    margin-left: 5%;
   text-align: center;
    color: #2468FF;

}

.mid5{
    width: 100%;
    height: auto;
    background-color: #EEEEEE;
}


.titulo5 h4
{
    padding-top: 50px;
    color: #4285f4;
}





.mid6{
    width: 100%;
    background-image:   url('../images/fondo4.png');
    background-repeat: no-repeat;
    background-size: 100%;
    height: 600px;
}

.contenido6{
    padding-top: 10%;
    width: 50%;
    margin-left: 50%;

    text-align: left;
}
.titulo6 h1{
    font-weight: bold;
    color: black;
    margin-bottom: 30px;
}
.message6 p{
    font-size: 2vw;
    width: 80%;
text-align: justify;

}
.images6{
    margin-top: 50px;

  /*  display: flex;
    justify-content: space-between;*/
}
.images6 .logo{
    width: 6.5vw;
    height: 6.5vw;
    background-color: white;
    border-radius: 200px;
    box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.40);

}
.logo1 {
    width: 80%;
    height: 20%;
    margin-left: 10%;
    margin-top: 35%;
    opacity: 0.5;

}
.logo2{
    width: 90%;
    margin-top: 38%;
    margin-left: 5px;
    opacity: 0.5;
}
.logo3{
    width: 80%;
    margin-top: 35%;
    margin-left: 7%;
    opacity: 0.5;
}
.logo4{
    width: 90%;
    margin-top: 35%;
    margin-left: 7%;
    opacity: 0.5;
}
.contenido6 button{
    width: 50%;
    height: 50px;
    border: none;
    border-radius: 5px;
    background-color: #FFBD24;
    font-size: 1.5vw;
    transition: all ease .4s;
}

.boton span{
    font-weight: bold;
}
.contenido6 button:hover{
    transform: scale(1.1);
    transition: all ease .4s;
}
.mid7{
    background-image:url('../images/fondo5.jpg');
    width: 100%;
    height: 600px;
    background-size: 100%;
    background-repeat: no-repeat;
}
.contenido7{
    width: 60%;
    padding-top: 100px;
}

.titulo7{
    color: #D1D3E1;
    text-align: left;
    margin-left: 10%;

}
.titulo7 h1{
    font-size: 50px;
}

.titulo7 span{
    font-size: 120px;
    vertical-align: middle;

    color: white !important;
}
.message7 .m1{
    color: #FFBD24;
    text-align: left;
    margin-left: 10%;
    font-size: 30px;
}

.message7 .m2{
    color: #D1D3E1;
    text-align: left;
    margin-left: 10%;
    font-size: 30px;
}


.input7 label{
    color:white;
}
.input7 p{
    color: #FFBD24;
    margin-top: -20px;
    text-align: center;
}

.input7 button{
    width: 150px;
    height: 40px;
    border: none;
    background-color: #FFBD24;
    border-radius: 5px;
    margin-top: 20px;
    outline: none;
    transition: all ease .4s;
}
.input7 button:hover{
    transform: scale(1.1);
    transition: all ease .4s;
}
.mid8{
    width: 100%;
    height:auto;
    background-color: white;
}

.imagenC{
    margin-top: 20px;
}
.imagenC img{
    width: 30px;
    height: 30px;
    margin-right: 10px;

}
.imagenC p{
    color: #2468FF;
}
.contacto{
    margin-top:10px ;
}

.footer{
    width: 100%;
    height: auto;
    background-color: #FFBD24;
    vertical-align: middle;
}
.footer h3{
    padding-top: 10px;
    opacity: 0.8;
    font-size: 2vw;
}

/*caracteristicas */
.cc1{
    background-image: url("../images/FondoC1.png");
    height: 800px;
    background-size: 100%;
    background-repeat: no-repeat;
}

.cc1 h1{
    margin-top:15%;
    color: #FFBD24;
    width: 50%;
    text-align: left;
   font-size: 2.6vw;
}
.cc1 h5{
    width: 46%;
    text-align: left;
    color: white;
    margin-left: 43%;
    font-size: 1.5vw;
}

.cc1 button{
  margin-left: 22%;
    width: 250px;
    height: 50px;
    border: none;
    border-radius: 5px;
    background-color: #FFBD24;
    font-size: 18px;
    transition: all ease .4s;
    margin-bottom: 10%;
}

.cc1 button:hover{
    transform: scale(1.1);
    transition: all ease .4s;
}

.cc1 .imagenes{
    width: 100%;
}

.cc1 .imagenes img{
    width: 8%;
    margin-right: 8%;
}
.cc1 .agente h5{
    color: #2468FF;
}
.titulocc2{
    color:#2468FF;
}

.cc3{
    background-image: url("../images/FondoC2.png");
    height: auto;
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: #2468FF;
}
.cc3 img{

    width: 80%;



}
.imagencc3{
    margin-top: 10%;
}

.cc3 h5{
    color: #FFBD24;
}
.cc3 p{
    color: white;
}

.ci1{
    background-image: url("../images/FondoI1.png");
    background-repeat: no-repeat;
    background-size: 100%;
    height: 800px;
}

.ci1 h5{
    margin-top: 30%;
    color: #FFBD24;

}

.ci1 .button{
    margin-left: 30%;
}
.ci1 .button img{
    width:20%;
    height: 10%;
    margin-right: 20px;

    transition: all ease 0.4s;
}

.ci1 .button img:hover{
    cursor: pointer;
    transform: scale(1.1);
    transition: all ease 0.4s;
}

.ci2 img{
    width: 50px;
    margin-top: 30%;

}

.ci3{
    background-color: #EEEEEE;
    height: auto;
}
.ci3 .ico{
    width: 50px;
}
.ci3 button{
    width: 150px;
    height: 40px;
    border: none;
    background-color: #FFBD24;
    border-radius: 5px;

    outline: none;
    transition: all ease .4s;
}
.ci3 button:hover{
    transform: scale(1.1);
    transition: all ease .4s;
}

.ci3 .silueta{
  width: 80%;
}

.ci4 img{
    width: 100px;
}
.ci4{
    margin-top: 10%;
}

.ci5{
    background-color: #EEEEEE;
    height: auto;
}
.ci5 img{
    width: 70%;
}
.ci5 button{
    width: 150px;
    height: 40px;
    border: none;
    background-color: #FFBD24;
    border-radius: 5px;

    outline: none;
    transition: all ease .4s;
}
.ci5 button:hover{
    transform: scale(1.1);
    transition: all ease .4s;
}
.ci7{
    background-color: #F9A600;
    height: auto;
}

.ci7 img{
    width: 100%;
}

.ci7 .logo{
    background-color: white;
    border-radius: 200px;
    width: 130px;
    height: 130px;
}

.ci7 .logo1{
    width: 100px;
}
.ci7 .logo2{
    width: 110px;
}
.ci7 .logo3{
    width: 100px;
    margin-right: 10px;
}
.ci7 .logo4{
    width: 110px;
}
.ci7 button{
    width: 300px;
    height: 50px;
    border: none;
    border-radius: 5px;
    background-color: #FFBD24;

    transition: all ease .4s;
}

.ci7 button:hover{
    transition: all ease .4s;
    transform: scale(1.1);
}

.ci8{
    background-color: #0847CC;
    height: auto;
}



.ci8 h1,h5{
    color: white;
}

.ci8 span{
    font-size: 80px;
}
.ci8 h4{
    color: #F9A600;
}

.ci8 .input7 p{
    font-size: 15px;
}

.ci8  button{
    font-size: 15px;
}

.cn1{
    background-image: url("../images/fondoNosotros1.png");
    background-size: 100%;
    height: 800px;
    background-repeat: no-repeat;
}

.cn1 img{
    width: 100%;
}


.cn2 img{
    width:100px;
    height: 100px;
}
.cn3{
    background-color: #EEEEEE;
    height: auto;
}
.cn4 img{
 width: 100px;
}

.cn4 h4{
    color: black;
}

.cn5{
    background-color: #EEEEEE;
    height: auto;
}

.cp2 img{
    width: 100px;
}

.cp2 h4{
    color: black;
}
.r1{
    height: auto;
}
.acordeon input{
   display: none !important;
}
.acordeon-titulo{
    display: block;
    padding: 15px;

   color: #0847CC;
}

 .acordeon-contenido{

height: 0;
overflow: hidden;
    margin: 0;
    transition: all ease .4s;
}

.acordeon input:checked ~ .acordeon-contenido{
    height: auto;
    margin: 15px 0;
    transition: all ease .4s;
}






/************************************* parte del admin **********************************************/
.dash{
    background-image: url("../images/superior0.jpg");
    height: 300px;
    background-repeat: no-repeat;
    background-size: 100%;
}
.Dashboard{
    background-image: url("../images/fondod.png");
  height: 950px;
    background-size: 100%;
   
}

.MenuDashboard{

  width: 250px;
  height: 680px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.75);
}

.pestanas{
    top: 30px;
    right: 15px ;
    width: 265px ;
        height: 40px;
    background-color: #FFBD24;
    position: relative;
    margin-bottom: 15px;

}

.pestanas h5{
    
    position: absolute;
    top: 20%;
    left: 20%;

}

.pestanas a{
    color: #1A3F6B;
}
.triangle-right {
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-left: 10px solid #FFBD24;
    border-bottom: 20px solid transparent;
    position: absolute;
    left: 100%;
    bottom: 0%;
  }
.triangle-bottom{
    width: 0;
    height: 0;
    border-top: 25px solid #996923;
    border-left: 15px solid transparent;
    position: absolute;
    top:100% !important;
}

.menu-items{
    margin-top: 20%;
}
.menu-items li{

    list-style: none;
    text-align: left;
    padding: 18px 15px;
    border-bottom: solid #2468FF 1px;
    
    font-size: 15px;
}

.menu-items a{
    color: #1A3F6B;
}

.menu-items a:hover{
    cursor: pointer;
    color: #2468FF;
}
.IcoP{
    position: absolute;
    top: 5px;
    right:  83%;
    width: 25px;
    height: 30px;
}
.IcoM{


    width: 25px;
    height: 30px;
   margin-right: 10px;
}
.soporte img{
    width: 100px;
    height: 100px;
    margin-top: 20px;

}
.soporte h5{
    color: #1A3F6B;
}
.Navbar{
    width: 250px;
}


.img_dash{
    width: 100px !important;
    height: 100px !important;
    border-radius: 100%;
    border: #2468FF solid 3px;


}

.profile h5{
    color: #FFBD24;
}
.menubar{
    display: none;
    text-decoration: none;
}


.open_menu{
    left: -100%;
}

.prueba{
    width: 200px;
    height: 200px;
    background-color: green;
}

.servicios-mid{
    background-color: white;
    border-top-left-radius:25px ;
    border-top-right-radius:25px ;
    border-radius: 25px;
    height: auto;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    width: 100%;
    position: relative;
}
.page .pagina{
    color: #0847CC !important;

}
.pagina a{
    color: #0847CC !important;
    background-color: none;
}

.pagina li{
    background-color:#FFBD24 !important;
}



.servicios-mid .recarga{

    border-radius: 10px;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    width: 90%;
    margin-left: 5%;
}
.btn-detalle{
    width: 100px;
    height: 35px;
    border-radius: 10px;
    background: none;
    outline: none;
    border: solid  #4285f4 1.5px;
    transition: all ease .4s;
}
.btn-detalle:hover{
    transform: scale(1.1);
    transition: all ease .4s;
}

.servicios-mid .giro-enviado{


    border-radius: 10px;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    width: 90%;
    margin-left: 5%;
}
.servicios-mid  h4{
    color: #0847CC;
    font-size: 20px;
}

.textbox{
    position: relative;
    width: 210px;
    height: 50px;
    border: #4285f4 solid 1px;
    border-radius: 7px;
}


.textbox label{
    position: absolute;
    font-size: 13px;
    top: -10px;
    background-color: white;
    padding-right: 3px;
    padding-left: 3px;
    left: 15px;
    color: #0847CC;

}
.resumen{
    height: 80px !important;
}
 .resumen p{
    font-size: 10px;
}
.pagado{
    height: 80px !important;
}
.pagado p {
    font-size: 30px;
    color: #2468FF;
}
.pagado span{
    font-size: 20px;
}

.giro-recibido{
    border-radius: 10px;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    width: 90%;
    margin-left: 5%;
}


.servicios-mid img{
    width: 30px;
    height: 30px;
}

.cel{
    height: 40px !important;
}

.servicios .titulo img{
    width: 40px;
    height: 40px;
}
.servicios .titulo h5{
    color: #FFBD24;
}

.serv-card{
    width: 240px;
    height: 100px;
    border-radius: 15px;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    background-color: #F5F5F5;
}

.serv-card img{
    width: 40px;
    height: 40px;
}
.serv-card p{
    color: #4285f4;
    font-size: 15px;
}

.serv-card .contenido{
    font-size: 12px;
    color: black;
}
.btn-rec{
    width: 180px;
    background-color: #FFBD24;
    border-radius: 15px;

}
.btn-rec h4{
    color: #1A3F6B;
    font-size: 20px;
}
.gir{
    width: 220px;
}

.item1{
    width: 100%;
 height: 230px;

    color: wheat;
    border-radius: 20px;
    background-image: url("../images/fondoslide1.png");
    background-size: 100%;
    background-repeat: no-repeat;


}

.slider .logo{
    width: 100px;
}

.slider h5{
    opacity: .4;
}
.slider h3{
    color: #FFBD24;
}
.input-group-text{
    background-color: #FFBD24 !important;
}

.item1 h6{

    color: #FFBD24;
}
.item1 .boton button{
    float: left;
    border-radius: 7px;
    outline: none;
    border: none;
    background-color:#FFBD24 ;
    width: 200px;
    height: 50px;
    transition: all ease 0.4s;
}
.item1 .boton button:hover{
    transform: scale(1.1);
    transition: all ease 0.4s;
}
.item2{
    width: 100%;
    background-color: white;
    height: 350px;
    border-radius: 20px;

}
.sombra{
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    border-radius: 20px;
}

.item2 h5{
    width: 80%;
    color: #4285f4;
    opacity: initial;
}

.item2 img{
    width: 50px;
    height: 50px;
}

.item2 .logo{
    width: 200px;
}





.btn-profile img{
    width: 20px !important;
    height: 20px !important;
    background: none;
    border: none;
    border-radius: 0px;
}

.btn-profile {
    font-size: 8px;


}

.btn-profile button{
    width: 100px;
    height: 35px;
    background-color: transparent;
    border: solid #1A3F6B 1.5px;
    border-radius: 7px;
    color: #1A3F6B;
}

.documento-profile .arrow{
    border: none;
    width: 15px !important;
    height: 40px !important;
}

.documento-profile .doc{
    border: none;
    border-radius:0px;
    width: 130px !important;
    height: 100px;
}

.documento-profile p{
    font-size: 10px;
    color: #4285f4;
}
.documento-profile label{
    width: 100px;
    font-size: 7px !important;
}

.servicios-mid .titulo h4{
    color: #4285f4;
    font-size: 20px;
}
.servicios-mid .titulo p{
    color: black;
    font-size: 10px;
}

.servicios-mid .titulo img{
    width: 30px;
    height: 30px;
}

.custom-radio{
    background-color: #FFBD24;
    border-radius: 200px;
    font-size: 15px;
}

.servicios-mid .datos{
    width: 80% !important;
}
.datos label{
    font-size: 10px;
}

.confirmar{
    background-color: #1A3F6B;
    color: white;
    font-size: 10px;
    width: 150px;
    height: 30px;
    border: none;
    outline: none;
}
.mid{
    border-left: 1px solid #4285f4;
}
 .pan{
     height: 800px;
 }
 .btnpanel{
     width: 100%;
    background-color: #1A3F6B;
    height: 80px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
   
}
 .btnpanel img{
     width: 110px;
     height: 35px;
 }
 .btnp1{
     width: 130px !important;
 }

 /***************************modales******************************/
.modalf{
    width: 500px;
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
   
}

.titulomodal{
    position: relative !important;
    background-color: #FFBD24;
    width: 530px;
    height: 35px;
 right: 30px;
  margin-top: 50px;
  border-top-right-radius:200px ;
  border-bottom-right-radius:200px ;
  
}
.titulomodal h4{
    color: #0847CC;
}

.titulomodal .cross{
    position: absolute;
    color: white;
    width: 35px;
    height: 35px;
    border-radius: 200px;
    background-color: #1A3F6B !important;
    font-size: 23px;
  right: 0;
}
 .titulomodal img {
     width: 30px;
 }

 .contenidomodal img{
     width: 150px;
 }

 .contenidomodal input{
     border-bottom: 1px solid black;
 }

 .input-file{
     position: relative;
    height: 30px;
     width: 80px;
     background-color: #FFBD24;
     border-radius: 7px;
 }

 #foto{
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    width: 100%;
    height: 100%;
    opacity: 0;
 }
 #texto{
     text-align: center;
     color: #1A3F6B;
     font-size: 10px;
 }
 .borde-file{
     border-bottom: solid 1px grey;
 }

 .borde-col{
     border-left: 1px solid #D1D3E1  ;
 }

 .t-subido{
     color: #2468FF;
 }
 .modald{
     width: 800px;
 }

 .modald .titulomodal{
     width: 830px;
 }

 .modald .contenidomodal img{
     width: 200px;
 }

 .docs{
    width: 30px;
    height: 30px;
     background-color: #FFBD24;
     color: #1A3F6B;
     border-radius: 200px;
     font-size: 20px;
 }

 .arrow {
    width: 15px !important;
    height: 40px !important;
 }
.shareI{
    height: 50px !important;
}
.share select {
    width: 120px;
    font-size: 15px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: #2468FF;
    color: #ffffff;
    border: solid 1px #2468FF;
    height: 50px;
   
}

.share input{
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border: solid 1px #2468FF;
    font-size: 15px;
    color: #2468FF;
    height: 50px;
}

.table th{
    
    padding: 1px !important;
  
    
    
}




.bgC{
    padding: 0 !important;
    text-align: center;
    background-color: #FFBD24;
    margin: 0;
}

.textbox span{
    font-size: 10px !important;
}

.textbox p{
    color: #2468FF;
}
.pareja {
    width: 100% !important;
    height: 100% !important;
}
.bottomC{
    background-image: url("../images/primerfondofija.png");
    background-size: cover;
    border-bottom-left-radius:25px ;
    border-bottom-right-radius: 25px;
}
.bottomC h5{
    color: #FFBD24;
}
.bottomC p{
    color: #ffffff;
}
.con{
    width: 112%;
}
.buscador{
    width: 120%;
    background-color: #FFBD24;
    padding: 10px;
    border-radius: 10px;
}

.buscador .input-group{
    width: 190px;
}
.buscador img{
    width: 17px !important;
}

.buscador button{
    width: 70px;
    height: 31px;
    background-color: #000000;
    opacity: .7;
    border: none;
    color: #FFBD24;
    border-radius: 5px;
}
.azul{
    color: #2468FF;
}

.nro{
    font-size: 10px;
}
.lista_ben{
    border: #2468FF solid 0.5px;
    border-radius: 25px;
}
.operaciones{
    background-color: #2468FF;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}
.operaciones img{
    width: 20px;
    height: 20px;
}
.ojo{
    width: 30px !important;
}
.operaciones p{
   
    font-size: 7px;
    color: #ffffff;
}

.btnplus{
    width: 170px !important;
    height: 35px;
}

.btnplus i{
    color: #FFBD24;
    font-size: 15px;
}
.visible{
    display: none;
}
.ocultar{
    display: none;
}
.rd{
    
    background-image: url("../images/fondovertical.png");
    background-size: cover;
    background-repeat: no-repeat;
    border-top-right-radius:25px ;
    border-bottom-right-radius:25px ;
    

}
.rd h4{
    color: #FFBD24;
}
.ri{
    position: relative;
    z-index: 1;
}
.ri .triangle-right{
    border-left: solid 20px #ffffff;
}

.btn_giro{
    width: 150px !important;
    height: 45px !important;
    transition: all ease .4s;
}

.btn_giro:hover{
    transition: all ease .4s;
    transform: scale(1.1);
}