body, html{
    font-family: sans-serif;
    height: 100vh;
}
.navbar{
  
    height: 80px;
    background-color: white;
}
.navbar img{
    width: 80px;
    height: 60px;
}

.navbar li a{
   
    color:grey;

}
.navbar .menu{
    margin-right:50px ;
}


.menu .nav-item a{
    width: 150px;
    padding: 28px 0px;
    
}
.menu .nav-item a:hover{
    cursor: pointer;
    background: #F9F7F7;
}
.icono{
    position: absolute;
    
   width: 25px !important;
   height: 30px !important;
    top: 10px;
    left: 10px;
   
}
.icono{
    width: 10px;
    height: 10px;
}
.icono2{
    width: 25px !important;
   height: 30px !important;
    top: 10px;
    left: 0px;
}
.icono3{
    width: 25px !important;
    height: 30px !important;
}
.menu2 .nav-item a{
    position: relative;
    width: 150px;
   padding: 0px 0;
    margin-right: 10px;
    background: #F9F7F7;
    border-radius: 10px;
   text-align: center;
   
}
.menu2 li{
    padding: 15px 0;
}

.menu2 .linea a{
    position: relative;
    padding: 12px 0;
}
.menu2 .nav-item a:hover{
    color: black;
}

.formulario{
   
   
display: flex;
justify-content: center;
align-items: center;


  
}
.step{
    border-radius: 10px;
    box-shadow: 0px 0px 10px -2px rgba(0,0,0,0.75);
  
    width: 40%;
   
    height: 450px;

    transition: all .2s linear;
   
}


.preview {
    border: 1px solid #e0e0e0;
    padding: 15px;
}
.formulario {
    font-size: 10px;
}
.formulario .input{
   
    width: 90%;
    margin-left: 5%;
   
}
.formulario .tittle{
 
    height: 60px;
    background: linear-gradient(to bottom, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 78%, rgba(209,209,209,1) 93%, rgba(171,164,171,1) 100%);
    border-top-right-radius:10px ;
    border-top-left-radius: 10px;
}
.tittle h4{
    float: left;
    margin-left: 50px;
    margin-top: 10px;
    color:  #4285f4 ;
    font-size: 35px;
}

.input input{

    border: solid 1.5px #4285f4 !important;
}
.input textarea{
    border: solid 1.5px #4285f4 !important;
    
}
.formulario button{
    width: 90%;
    border-radius: 10px;
    background-color: transparent !important;
    color:#4285f4;
    border: solid 1.5px #4285f4;
    box-shadow: none;
}
.formulario button:hover{
    color:#4285f4;
}
.giro{
    border-left: 1px solid grey;
    height: 100%;
    width: 100%;
    
}
.giro a{
   
  
    margin-left: 20px;
    font-size: 13px;
    text-align: start;
    color: grey;



  
    
}
.giro a .icon{
    font-size: 20px;
    margin-left:10px ;
    color: grey;
    transition: all ease .4s;
}

.giro a:hover{
 color:#4285f4 ;
}
.giro a:hover>.icon{
    color:#4285f4 ;
transition: all ease .4s;
}

.small input{
    width: 100%;

}
#step2 textarea{
    margin-top:-20px;
}
#step3 h6  {
color:#FFBD24;
text-align: left;
font-size: 1.3vw;
}
#step3 h1{
    text-align: left;
    color: white;
    font-size: 3.5vw;
}
#step3 h4{
    text-align: left;
    color: white;
    opacity: 0.8;
    font-size: 2vw;
    width: 250px;
}

.bg{
    background-image: url('../images/fondofija.png');
    height:850px;

    background-repeat:no-repeat ;
    background-size: 100%;
    background-position: center center;
   
 
    background-position-y: 10%;
 
   
    
}

#step3 .contenido{

margin-top: 15%;  
margin-left: 55%;  

}
#step3 .button img{
    width:30%;
    height: 10%;
    margin-right: 20px;
    float: left;
    transition: all ease 0.4s;
}

#step3 .button img:hover{
    cursor: pointer;
    transform: scale(1.1);
    transition: all ease 0.4s;
}
 #step3 .agente{
  margin-top: 18%;
   margin-left: -60px;
  
}
#step3 .agente h5{
    color: #4285f4 ;
    text-align: center;
    font-size: 2vw;

    

  
}
#step3 .imagenes img{
    width: 8%;
    margin-right: 8%;
}

.nav-link{
    color:grey !important ;
}
/*contenido */
